
html {
     box-sizing: border-box;
     font-size: 100%;
     height: 100%;
     font-family: 'Libre Franklin', sans-serif;
 }
html.lato {
    font-family: "Lato", sans-serif;
}
html.prompt {
    font-family: "Prompt", sans-serif;
}

body {
    background: #f1f1f1;
    position: relative;
    height: 100%;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* reset */
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    outline: none;
    background: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

*:active,
*:hover {
    outline: 0;
}

b, i, em, strong,
h1, h2, h3, h4, h5, h6,
th, td, pre, ins, del, address,
input, select, button, textarea {
    text-transform: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    font-style: normal;
    letter-spacing: inherit;
}

textarea,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
}

a, ins, del, button {
    color: inherit;
    text-decoration: none;
}

ul, ol,
menu {
    list-style: none;
}

table,
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

pre,
textarea {
    overflow: auto;
    max-width: 100%;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

svg:not(:root) {
    overflow: hidden;
}

form {
    width: 100%;
}

button {
    cursor: pointer;
    overflow: visible;
}

textarea {
    resize: none;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: transparent;
}
input[type='range']::-ms-track {
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}
.content {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #3d5358;
    max-width: 780px;
    margin: 0 auto;
}
.content__list {
    position: relative;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #2a313b;
}

.company {
    cursor: pointer;
    position: relative;
    width: calc(100% / 2 - 1rem);
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-top: 0.75rem;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 0 1px #c5d0d1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 10% 50%;
    transform-origin: 10% 50%;
    z-index: 1;
}
.company:hover, .company.easy:hover, .company.hard:hover {
    cursor: pointer;
    background-color: #0e4850;
    transition: background-color 0.8s, color 0.8s;
    color: white;
}
@media (min-width: 800px) {
    .company {
        width: calc(100% / 3 - 1rem);
    }
}
.company-move {
    -webkit-transition: all 600ms ease-in-out 50ms;
    transition: all 600ms ease-in-out 50ms;
}
.company-enter-active {
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.company-leave-active {
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    position: absolute;
    z-index: 0;
}
.company-enter, .company-leave-to {
    opacity: 0;
}
.company-enter {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.company.easy {
    background-color: #e2ffe6;
}
.company.hard {
    background-color: #fde2e2;
}
.company__data {
    line-height: 1.3;
}
.company__label {
    font-size: 0.8rem;
}
.company__convocatoria {
    text-align: center;
}
.company__info {
    padding: 0 0.75rem;
    text-align: center;
}
.company__logo {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}
.company__name {
    height: 2.5rem;
    margin: 0.75rem 0 0.2rem 0;
    font-size: 1.3rem;
    font-weight: 200;
    text-align: center;
}
.company__slogan {
    height: 2rem;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
}
.company__details {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 0.5rem 0.75rem;
    background-color: rgba(197, 208, 209, 0.1);
    border-top: 1px solid #c5d0d1;
}
.company__subject:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    margin: 0 1rem;
    padding: 0 0 1rem;
    /*padding: 2rem 0.5rem 1rem;*/
    border-bottom: 1px solid #c5d0d1;
}
.nav__controls {
    display: -webkit-box;
    display: flex;
}
.nav__icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
}
.nav__label {
    position: relative;
    margin-left: 1rem;
    text-transform: capitalize;
    z-index: 1;
    cursor: pointer;
}
.nav__label::after {
    content: '\00d7';
    display: inline-block;
    color: transparent;
    width: 0.5rem;
    font-weight: 400;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
}
.nav__label--clear {
    color: #f68185;
    opacity: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
    pointer-events: none;
    -webkit-transition: all 275ms ease-in-out;
    transition: all 275ms ease-in-out;
}
.nav__label--filter ~ .nav__label--clear {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
}
.nav__label--filter::after, .nav__label--active::after {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.nav__label--filter::after {
    content: '\2022';
    color: #46d2c4;
}
.nav__label--active::after {
    content: '\00d7';
    color: #f68185;
}

.dropdown {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 350ms;
    transition: height 350ms;
}
.dropdown::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    /*background-image: -webkit-gradient(linear, left bottom, left top,*/
    /*from(white), to(rgba(255, 255, 255, 0)));*/
    /*background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0));*/
}
.dropdown-enter, .dropdown-leave-to {
    opacity: 0;
}
.dropdown-leave, .dropdown-enter-to {
    opacity: 1;
}
.dropdown-enter-active, .dropdown-leave-active {
    position: absolute;
    width: 100%;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}
.dropdown-enter-active {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
}

.filters {
    padding: 0 1rem;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: start;
    align-items: flex-start;
}
.filters__item {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #c5d0d1;
    border-radius: 6px;
    font-size: 0.8rem;
    line-height: 1.35;
    cursor: pointer;
    -webkit-transition: all 275ms;
    transition: all 275ms;
}
.filters__item:hover {
    border-color: #379a93;
}
.filters__item--active {
    color: white;
    border-color: #379a93;
    background-color: #379a93;
}
.filters__convocatoria {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.5rem 0;
}
.filters__range {
    width: 200px;
    margin-top: 1rem;
    color: inherit;
}
.filters__range::-webkit-slider-thumb {
    width: 0.8rem;
    height: 0.8rem;
    margin-top: calc(-0.4rem + 2px);
    border-radius: 100%;
    background-color: currentColor;
}
.filters__range::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background-image: -webkit-gradient(linear, left top, right top, from(white), to(#46d2c4));
    background-image: linear-gradient(to right, white, #46d2c4);
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
}
.modal-enter-active, .modal-leave-active {
    -webkit-transition: opacity 350ms;
    transition: opacity 350ms;
}
.modal-enter, .modal-leave-to {
    opacity: 0;
}
.modal-leave, .modal-enter-to {
    opacity: 1;
}
.main_transition {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.main_transition-enter-active, .main_transition-leave-active {
    -webkit-transition: opacity 1500ms, margin-top 0s .2s;
    transition: opacity 1500ms, margin-top 0s .2s;
}
.main_transition-enter, .main_transition-leave-to {
    opacity: 0;
    transition: none;
}
.main_transition-leave, .main_transition-enter-to {
    opacity: 1;
}
.modal__content {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 90%;
    max-width: 500px;
    min-height: 250px;
    padding: 1.5rem 1rem;
    background-color: white;
    border: 1px solid #c5d0d1;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0.5rem 1.75rem -0.25rem rgba(61, 83, 88, 0.4);
}
.modal__title {
    font-weight: 400;
    font-size: 1.5rem;
}
.modal__link {
    margin-top: 1.5rem;
    position: relative;
    font-size: 1.2rem;
    font-weight: 300;
    z-index: 0;
}
.modal__link::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    z-index: -1;
    -webkit-transition: background-color 225ms ease-out;
    transition: background-color 225ms ease-out;
}
.modal__link:hover::after {
    background-color: #46d2c4;
}
.modal__close {
    position: absolute;
    top: 0.25rem;
    right: 1rem;
    font-size: 1.75rem;
    font-weight: 400;
    opacity: 0.5;
    -webkit-transition: opacity 150ms ease-out;
    transition: opacity 150ms ease-out;
}
.modal__close:hover {
    opacity: 1;
}

.testTime {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3em;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    height: 100vh;
    background: #f1f1f1;
    /* mocking native UI */
    cursor: default !important;
    /* remove text selection cursor */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* remove text selection */
    user-drag: none;
    /* disbale element dragging */
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.button {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.title,
.subtitle {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
}

.animated {
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.container {
    margin: 0 auto;
    padding-top: 1.5em;
}

.questionBox {
    margin: 0 auto;
    min-height: 30rem;
    background: #fafafa;
    color: #2a313b;
    position: relative;
    display: -webkit-box;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.questionBox header {
    background: rgba(0, 0, 0, 0.025);
    padding: 1.2rem;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.questionBox header h1 {
    font-weight: bold;
    margin-bottom: 1rem !important;
}

.questionBox header .progressContainer {
    width: 60%;
    margin: 0 auto;
}
.progressContainer {
    width: 60%;
    margin: 0 auto;
}

.questionBox header .progressContainer > progress {
    margin: 0;
    border-radius: 5rem;
    overflow: hidden;
    border: none;
    color: #3d5afe;
    width: 100%;
}

.questionBox header .progressContainer > progress::-moz-progress-bar {
    background: #3d5afe;
}

.questionBox header .progressContainer > progress::-webkit-progress-value {
    background: #3d5afe;
}

.questionBox header .progressContainer > p {
    margin: 0;
    margin-top: 0.5rem;
}

.questionBox .titleContainer {
    margin: 0 auto;
    padding: 1.5rem 1.5rem 0 1.5rem;
    text-align: left;
}

.motivacion {
    border: 1px solid black;
    text-align: left;
}


.questionBox .titleDate {
    padding: 0 1.5rem 0 1.5rem;
    text-align: left;
    font-style: italic;
    font-size: 0.8em;
    color: darkgrey;
}

.questionBox .quizForm {
    display: block;
    white-space: normal;
    height: 100%;
    width: 100%;
}

.questionBox .quizForm .quizFormContainer {
    height: 100%;
    margin: 15px 18px;
}

.questionBox .quizForm .quizFormContainer .field-label {
    text-align: left;
    margin-bottom: 0.5rem;
}

.questionBox .quizCompleted {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.questionBox .quizCompleted > .icon {
    color: #ff5252;
    font-size: 5rem;
}

.questionBox .quizCompleted > .icon .is-active {
    color: #00e676;
}

.questionBox .questionContainer {
    white-space: normal;
    height: 100%;
    width: 100%;
}

.questionBox .questionContainer .optionContainer {
    margin-top: 12px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.questionBox .questionContainer .optionContainer .option {
    border-radius: 10px;
    padding: 9px 18px;
    margin: 0 18px;
    margin-bottom: 12px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.85);
    border: transparent 1px solid;
    text-align: left;
}

.questionBox .questionContainer .optionContainer .option.is-selected {
    border-color: rgba(0, 0, 0, 0.25);
    background-color: white;
}

.questionBox .questionContainer .optionContainer .option.is-correct {
    border-color: rgba(0, 0, 0, 0.25);
    background-color: rgba(186, 224, 120, 0.99);
}

.questionBox .questionContainer .optionContainer .option.is-wrong {
    border-color: rgba(0, 0, 0, 0.25);
    background-color: rgb(250, 140, 136);
}

/*.questionBox .questionContainer .optionContainer .option:hover {*/
/*  background-color: rgba(0, 0, 0, 0.1);*/
/*}*/

.questionBox .questionContainer .optionContainer .option:active {
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9);
}

.questionBox .questionContainer .questionFooter {
    background: rgba(0, 0, 0, 0.025);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    align-self: flex-end;
}

.questionBox .questionContainer .questionFooter .pagination {
    margin: 15px 25px;
}

.pagination {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.button {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0 0.25rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    background: #eceff1;
    border-color: rgba(0, 0, 0, 0.25);
}
.actionButton:hover {
    cursor: pointer;
    background: #e3e7ea;
    color: black;
    border-color: rgba(0, 0, 0, 0.25);
}

.button.is-active {
    background: #3d5afe;
    color: white;
    border-color: transparent;
}

.button.is-active:hover {
    background: #0a2ffe;
}

@media screen and (min-width: 769px) {
    .questionBox {
        -webkit-box-align: center;
        /*align-items: center;*/
        -webkit-box-pack: center;
        /*justify-content: center;*/
    }

    .questionBox .questionContainer {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}
@media screen and (max-width: 769px) {
    .questionBox {
        width: 100%;
    }
}

.curso {
    /*width: calc(100% / 4 - 1rem) !important;*/
    /*cursor: pointer;*/
    /*position: relative;*/
    /*display: inline-flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*margin-left: 1rem;*/
    /*margin-top: 1rem;*/
    /*padding-top: 0.75rem;*/
    /*-webkit-backface-visibility: hidden;*/
    /*backface-visibility: hidden;*/
    /*z-index: 1;*/

    cursor: pointer;
    position: relative;
    width: calc(100% / 2 - 1rem);
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-top: 0.75rem;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 0 1px #c5d0d1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 10% 50%;
    transform-origin: 10% 50%;
    z-index: 1;
}
.curso:hover {
    cursor: pointer;
}

.curso_name {
    top: 50%;
    left: 30%;
    position: relative;
}

.primer_curso {
    background-color: #8FCFD2;
    font-size: 1.3em;
    /*width: 130px;*/
    /*height: 130px;*/
    /*border-radius: 16px;*/
}

.segundo_curso {
    background-color: #DF5E89;
    color: snow;
    font-size: 1.3em;
}

.tercer_curso {
    background-color: #F7AB6C;
    color: snow;
    font-size: 1.3em;
}

.cuarto_curso {
    background-color: #F6EFA6;
    font-size: 1.3em;
}

.primer_curso_detail {
    width: calc(100% / 4 - 1rem) !important;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-top: 0.75rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}

:root {
    --canvasColor: #f9f9f9;
}

body {
    background: var(--canvasColor);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    transition: all .3s ease;
}

* {
    box-sizing: border-box;
}

main {
    --neutralShade1: #f2f2f2;
    --neutralShade2: #e8e9e9;
    --neutralShade3: #d1d3d4;
    --neutralShade4: #babdbf;
    --neutralShade5: #808488;
    --neutralShade6: #666a6d;
    --neutralShade7: #4d5052;
    --neutralShade8: #212122;
    --grayColor: #999;
    --lightGrayColor: #ddd;
    --borderRadius: 6px;
    /*--boxShadow: 0 2px 5px rgba(#333, 0.2);*/
}

/*overall layout inu shiba cards*/
main {
    margin: 0 auto 8em;
    color: var(--foregroundColor);
    text-align: left;
}

/*colors*/
.palette {
    display: grid;
    grid: 80px 45px min-content/repeat(5, minmax(50px, 1fr));
    margin-bottom: 1em;
}
.palette__main {
    grid-column: span 5;
}
.palette h5 {
    grid-column: span 5;
    text-align: left;
    padding: 10px 0;
}
.palette.main div:nth-child(1) {
    background: var(--primaryColor);
}
.palette.main div:nth-child(2) {
    background: var(--primaryShade1);
}
.palette.main div:nth-child(3) {
    background: var(--primaryShade2);
}
.palette.main div:nth-child(4) {
    background: var(--primaryShade3);
}
.palette.main div:nth-child(5) {
    background: var(--primaryShade4);
}
.palette.main div:nth-child(6) {
    background: var(--primaryShade5);
}
.palette.secondary div:nth-child(1) {
    background: var(--secondaryColor);
}
.palette.secondary div:nth-child(2) {
    background: var(--secondaryShade1);
}
.palette.secondary div:nth-child(3) {
    background: var(--secondaryShade2);
}
.palette.secondary div:nth-child(4) {
    background: var(--secondaryShade3);
}
.palette.secondary div:nth-child(5) {
    background: var(--secondaryShade4);
}
.palette.secondary div:nth-child(6) {
    background: var(--secondaryShade5);
}
.palette.accent1 div:nth-child(1) {
    background: var(--accentColor);
}
.palette.accent1 div:nth-child(2) {
    background: var(--accentShade1);
}
.palette.accent1 div:nth-child(3) {
    background: var(--accentShade2);
}
.palette.accent1 div:nth-child(4) {
    background: var(--accentShade3);
}
.palette.accent1 div:nth-child(5) {
    background: var(--accentShade4);
}
.palette.accent1 div:nth-child(6) {
    background: var(--accentShade5);
}
.palette.accent2 div:nth-child(1) {
    background: var(--accent2Color);
}
.palette.accent2 div:nth-child(2) {
    background: var(--accent2Shade1);
}
.palette.accent2 div:nth-child(3) {
    background: var(--accent2Shade2);
}
.palette.accent2 div:nth-child(4) {
    background: var(--accent2Shade3);
}
.palette.accent2 div:nth-child(5) {
    background: var(--accent2Shade4);
}
.palette.accent2 div:nth-child(6) {
    background: var(--accent2Shade5);
}
.palette.accent3 div:nth-child(1) {
    background: var(--accent3Color);
}
.palette.accent3 div:nth-child(2) {
    background: var(--accent3Shade1);
}
.palette.accent3 div:nth-child(3) {
    background: var(--accent3Shade2);
}
.palette.accent3 div:nth-child(4) {
    background: var(--accent3Shade3);
}
.palette.accent3 div:nth-child(5) {
    background: var(--accent3Shade4);
}
.palette.accent3 div:nth-child(6) {
    background: var(--accent3Shade5);
}
.palette.neutrals {
    grid-template-rows: repeat(2, 50px) min-content;
    grid-template-columns: repeat(4, 1fr);
}
.palette.neutrals div:nth-child(1) {
    background: var(--neutralShade1);
}
.palette.neutrals div:nth-child(2) {
    background: var(--neutralShade2);
}
.palette.neutrals div:nth-child(3) {
    background: var(--neutralShade3);
}
.palette.neutrals div:nth-child(4) {
    background: var(--neutralShade4);
}
.palette.neutrals div:nth-child(5) {
    background: var(--neutralShade5);
    grid-row: 2;
}
.palette.neutrals div:nth-child(6) {
    background: var(--neutralShade6);
    grid-row: 2;
}
.palette.neutrals div:nth-child(7) {
    background: var(--neutralShade7);
    grid-row: 2;
}
.palette.neutrals div:nth-child(8) {
    background: var(--neutralShade8);
    grid-row: 2;
}

/*typography*/
strong {
    font-weight: 500;
}

em {
    font-style: italic;
}

h1 {
    font: 700 48px/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
}

h2 {
    font: 700 32px/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
}

h3 {
    font: 700 24px/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
}

h4 {
    font: 700 20px/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
}

h5 {
    font: 500 18px/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
}

h6 {
    font: 500 16px/1.2 "Poppins", sans-serif;
    text-transform: uppercase;
}

/*buttons & links*/
a.button {
    outline: none;
    width: 100%;
    text-align: center;
    display: inline-block;
    border: none;
    font: 500 16px/1 "Poppins", sans-serif;
    padding: 20px;
    cursor: pointer;
    border-radius: var(--borderRadius);
    background: var(--primaryColor);
    color: var(--backgroundColor);
    position: relative;
    top: 0;
    transition: 0.2s ease;
}
a.button:hover, a.button.hover {
    top: -3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
a.button:active, a.button.active {
    background: var(--primaryShade4);
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    top: 0;
}
a.button.disabled {
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
}
a.button.medium {
    padding: 15px 18px;
    width: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}
a.button.small {
    padding: 10px 12px;
    width: auto;
    font-size: 14px;
    font-weight: 500;
}
a.button.secondary {
    background: var(--secondaryColor);
}
a.button.secondary:active, a.button.secondary:focus, a.button.secondary.active {
    background: var(--secondaryShade4);
    outline: none;
}
a.button.accent {
    background: var(--accentColor);
}
a.button.accent:active, a.button.accent:focus, a.button.accent.active {
    background: var(--accentShade4);
}
a.button.accent2 {
    background: var(--accent2Color);
}
a.button.accent2:active, a.button.accent2:focus, a.button.accent2.active {
    background: var(--accent2Shade4);
}
a.button.accent3 {
    background: var(--accent3Color);
}
a.button.accent3:active, a.button.accent3:focus, a.button.accent3.active {
    background: var(--accent3Shade4);
}

/*variations*/
input.variation {
    display: none;
}
input.variation + label {
    display: none;
    width: 50px;
    height: 50px;
    margin: 70px 20px 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 6px solid #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

#bluepurple + label {
    background: linear-gradient(to left, #673ab7 50%, #03a9f4 50%);
}
#bluepurple:checked ~ main {
    --backgroundColor: #fff;
    --foregroundColor: #111;
    --primaryColor: #03a9f4;
    --primaryShade1: #e1f5fe;
    --primaryShade2: #b3e5fc;
    --primaryShade3: #4fc3f7;
    --primaryShade4: #0288d1;
    --primaryShade5: #0277bd;
    --secondaryColor: #673ab7;
    --secondaryShade1: #ede7f6;
    --secondaryShade2: #d1c4e9;
    --secondaryShade3: #9575cd;
    --secondaryShade4: #512da8;
    --secondaryShade5: #311b92;
    --accentColor: #009688;
    --accentShade1: #e0f2f1;
    --accentShade2: #b2dfdb;
    --accentShade3: #4db6ac;
    --accentShade4: #00796b;
    --accentShade5: #004d40;
    --accent2Color: #8bc34a;
    --accent2Shade1: #e7f6d5;
    --accent2Shade2: #c5e1a5;
    --accent2Shade3: #aed581;
    --accent2Shade4: #689f38;
    --accent2Shade5: #558b2f;
    --accent3Color: #f44336;
    --accent3Shade1: #ffdde0;
    --accent3Shade2: #ffcdd2;
    --accent3Shade3: #ef9a9a;
    --accent3Shade4: #d32f2f;
    --accent3Shade5: #b71c1c;
}

#sunset + label {
    background: linear-gradient(to right, #ff9557 50%, #ffcc67 50%);
}
#sunset:checked ~ main {
    --canvasColor: #f9f9f9;
    --backgroundColor: #fff;
    --foregroundColor: #111;
    --primaryColor: #ff9557;
    --primaryShade1: #ffe2d1;
    --primaryShade2: #ffceb2;
    --primaryShade3: #ffb184;
    --primaryShade4: #e88850;
    --primaryShade5: #d17a48;
    --secondaryColor: #ffcc67;
    --secondaryShade1: #fff1d5;
    --secondaryShade2: #ffde9e;
    --secondaryShade3: #ffd074;
    --secondaryShade4: #e8ba5e;
    --secondaryShade5: #ba954b;
    --accentColor: #4e5166;
    --accentShade1: #cecfd5;
    --accentShade2: #aeafb9;
    --accentShade3: #8e909d;
    --accentShade4: #6e7081;
    --accentShade5: #404354;
    --accent2Color: #588b8b;
    --accent2Shade1: #c2d4d4;
    --accent2Shade2: #a3bfbf;
    --accent2Shade3: #85aaaa;
    --accent2Shade4: #507f7f;
    --accent2Shade5: #497272;
    --accent3Color: #fe5f55;
    --accent3Shade1: #fec4c1;
    --accent3Shade2: #fea7a2;
    --accent3Shade3: #fe7c73;
    --accent3Shade4: #e7574e;
    --accent3Shade5: #b9463e;
}

#godiva + label {
    background: linear-gradient(to right, #a05793 50%, #a3d858 50%);
}
#godiva:checked ~ main {
    --canvasColor: #f9f9f9;
    --backgroundColor: #fff;
    --foregroundColor: #111;
    --primaryColor: #a05793;
    --primaryShade1: #e5d1e1;
    --primaryShade2: #d3b2cd;
    --primaryShade3: #b984b0;
    --primaryShade4: #925086;
    --primaryShade5: #834879;
    --secondaryColor: #a3d858;
    --secondaryShade1: #e5f4d1;
    --secondaryShade2: #cce9a3;
    --secondaryShade3: #bce285;
    --secondaryShade4: #95c550;
    --secondaryShade5: #779e41;
    --accentColor: #245e71;
    --accentShade1: #d7e1e5;
    --accentShade2: #afc4cb;
    --accentShade3: #7398a4;
    --accentShade4: #4b7b8a;
    --accentShade5: #1e4d5d;
    --accent2Color: #2aa5a1;
    --accent2Shade1: #d8eeed;
    --accent2Shade2: #9ed6d4;
    --accent2Shade3: #64bdba;
    --accent2Shade4: #279693;
    --accent2Shade5: #1f7976;
    --accent3Color: #92374d;
    --accent3Shade1: #ebdad3;
    --accent3Shade2: #cda4ae;
    --accent3Shade3: #af6d7d;
    --accent3Shade4: #853246;
    --accent3Shade5: #6b2939;
}

#dark + label {
    background: linear-gradient(to right, #367bc3 50%, #38bfa7 50%);
}
#dark:checked ~ main {
    --canvasColor: #2a313b;
    --backgroundColor: #2a313b;
    --foregroundColor: #ebe8d8;
    --primaryColor: #367bc3;
    --primaryShade5: #b5cfe9;
    --primaryShade4: #91b7de;
    --primaryShade3: #5a93cd;
    --primaryShade2: #3270b2;
    --primaryShade1: #285a8e;
    --secondaryColor: #38bfa7;
    --secondaryShade5: #c8ede7;
    --secondaryShade4: #92dccf;
    --secondaryShade3: #6ed0be;
    --secondaryShade2: #33ae98;
    --secondaryShade1: #2e9d89;
    --accentColor: #586994;
    --accentShade5: #d1d6e1;
    --accentShade4: #a3adc4;
    --accentShade3: #7684a7;
    --accentShade2: #49567a;
    --accentShade1: #39435f;
    --accent2Color: #8fe1a2;
    --accent2Shade5: #d6f4dd;
    --accent2Shade4: #c1eecc;
    --accent2Shade3: #a3e6b2;
    --accent2Shade2: #82cd94;
    --accent2Shade1: #76b985;
    --accent3Color: #fe938c;
    --accent3Shade5: #fee1df;
    --accent3Shade4: #fec4c0;
    --accent3Shade3: #fea6a0;
    --accent3Shade2: #e78680;
    --accent3Shade1: #b96b66;
    color: #f1f2eb;
    border-color: #f1f2eb;
}
#dark:checked ~ main > section {
    border-color: #f1f2eb;
}
#dark:checked ~ main > section > h6 {
    color: #f1f2eb;
}

#pinkaru + label {
    background: linear-gradient(to right, #f95794 50%, #323da5 50%);
}
#pinkaru:checked ~ main {
    border-color: #fff;
    --canvasColor: #2a313b;
    --backgroundColor: #2a313b;
    --foregroundColor: #e3f2fd;
    --primaryColor: #f95794;
    --primaryShade5: #fdd1e1;
    --primaryShade4: #fba3c4;
    --primaryShade3: #fa75a7;
    --primaryShade2: #e35087;
    --primaryShade1: #b6406c;
    --secondaryColor: #323da5;
    --secondaryShade5: #c7cae6;
    --secondaryShade4: #8f95cd;
    --secondaryShade3: #6971bd;
    --secondaryShade2: #2e3896;
    --secondaryShade1: #293288;
    --accentColor: #FFC729;
    --accentShade5: #ffefc4;
    --accentShade4: #ffe08a;
    --accentShade3: #ffd14f;
    --accentShade2: #e8b526;
    --accentShade1: #d1a322;
    --accent2Color: #53dd6c;
    --accent2Shade5: #d0f5d6;
    --accent2Shade4: #a1ecae;
    --accent2Shade3: #72e386;
    --accent2Shade2: #4cc963;
    --accent2Shade1: #3da14f;
    --accent3Color: #f52f57;
    --accent3Shade5: #fcc6d1;
    --accent3Shade4: #f98da3;
    --accent3Shade3: #f65475;
    --accent3Shade2: #df2b50;
    --accent3Shade1: #b32340;
}
#pinkaru:checked ~ main > section {
    border-color: #fff;
}
#pinkaru:checked ~ main > section > h6 {
    color: #fff;
}

footer {
    display: grid;
    text-align: center;
    width: 90%;
    max-width: 800px;
    align-items: center;
}
footer a {
    text-decoration: none;
    color: #333;
    padding: 3px 0;
    border-bottom: 1px dashed;
}
footer a:hover {
    border-bottom: 1px solid;
}
footer .social a {
    text-decoration: none !important;
    margin-top: 20px;
    margin-left: 10px;
    border-bottom: 0;
    display: inline-block;
}
footer .social a:hover {
    color: #666;
}
footer .social a .icons {
    display: inline-block;
    font-size: 20px;
}
footer.dark, footer.dark a {
    color: #f9f9f9;
}

.profile {
    position: relative;
    background: var(--backgroundColor);
    color: var(--foregroundColor);
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
    border-radius: 10px;
    transition: .2s ease;
}
.profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile__stats__title {
    color: var(--grayColor);
    text-transform: uppercase;
    font-size: 16px;
}
.profile a:hover {
    top: 0;
    box-shadow: none;
    background: var(--primaryShade4);
}
.profile a:active, .profile a:focus {
    top: 0;
    box-shadow: none;
    background: var(--primaryShade5);
}

.profile-default {
    /*min-width: 400px;*/
    /*max-width: 450px;*/
    width: calc(100% / 2 - 1rem);
    margin: auto;
    margin-left: 1rem;
    margin-top: 1rem;
    overflow: hidden;
    display: inline-grid;
    grid: 340px auto auto/repeat(3, minmax(80px, 1fr));
    grid-gap: 10px;
}
@media (max-width: 780px) {
    .profile-default {
        width: calc(100% - 2rem);
    }
}
.profile-default .profile__image {
    grid-column: span 3;
}
.profile-default .profile__image img {
    border-bottom: 7px solid var(--secondaryColor);
}
.profile-default .profile__info {
    grid-column: span 3;
    margin: 20px 25px 0;
}
.profile-default .profile__stats {
    margin: 5px 25px;
}
.profile-default .profile__cta {
    grid-column: span 3;
    margin: 0 25px 25px;
}

.profile-smallimg {
    width: 300px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.profile-smallimg .profile__image {
    margin-top: -40px;
}
.profile-smallimg .profile__image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid var(--backgroundColor);
    box-shadow: 0 0 0 7px var(--secondaryColor);
}
.profile-smallimg .profile__info {
    margin: 10px 30px 15px;
}
.profile-smallimg .profile__stats {
    margin: 0 30px 10px;
}
.profile-smallimg .profile__stats:nth-of-type(n+4) {
    display: none;
}
.profile-smallimg .profile__cta a {
    border-radius: 0 0 10px 10px;
}

.profile-long {
    width: calc(100% - 1rem);
    margin: auto;
    margin-left: 1rem;
    margin-top: 1rem;
    overflow: hidden;
    display: inline-grid;
    grid-gap: 10px;
    /*display: grid;*/
    grid-template-columns: repeat(4, 1fr) 100px;
    padding: 20px 20px 15px;
    /*min-width: 570px;*/
}
@media (max-width: 780px) {
    .profile-long {
        width: calc(100% - 2rem);
    }
}
.profile-long .profile__image {
    grid-column: 5 / 6;
    margin-bottom: 10px;
}
.profile-long .profile__image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.profile-long .profile__info {
    grid-column: 1 / 5;
    grid-row: 1;
    padding: 5px 20px 0 0;
}
.profile-long .profile__stats {
    min-width: 100px;
    padding-top: 20px;
    border-top: 0.5px solid var(--grayColor);
}
.profile-long .profile__cta {
    grid-column: span 2;
    border-top: 0.5px solid var(--grayColor);
    padding-top: 15px;
}

.profile-table {
    display: grid;
    max-width: 780px;
    grid-template-columns: 100px 1fr auto;
    grid-auto-flow: dense;
    overflow: hidden;
}
.profile-table .profile__image {
    grid-column: 1;
}
.profile-table .profile__stats {
    display: none;
}
.profile-table .profile__info {
    grid-column: 2 / 5;
    padding: 20px 15px 20px 20px;
}
.profile-table .profile__cta {
    grid-column: 5 / 6;
    align-self: center;
    padding-right: 25px;
}

.profile-wide {
    display: grid;
    grid-template-columns: auto repeat(3, 1fr);
    grid-auto-flow: dense;
    min-width: 500px;
    max-width: 590px;
}
.profile-wide .profile__image {
    padding: 30px 20px 20px;
    grid-row: 1 / 3;
}
.profile-wide .profile__image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid var(--backgroundColor);
    box-shadow: 0 0 0 4px var(--secondaryColor);
}
.profile-wide .profile__stats {
    margin-bottom: 12px;
}
.profile-wide .profile__info {
    grid-column: span 3;
    padding: 25px 25px 15px 0;
}
.profile-wide .profile__cta {
    grid-column: span 4;
}
.profile-wide .profile__cta a {
    border-radius: 0 0 10px 10px;
}

.profile-imgonly {
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    display: grid;
    grid: 390px 0 / 100%;
}
.profile-imgonly:hover {
    grid: 334px 56px / 100%;
}
.profile-imgonly .profile__image, .profile-imgonly .profile__info {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.profile-imgonly .profile__image {
    position: relative;
}
.profile-imgonly .profile__image:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}
.profile-imgonly .profile__stats {
    display: none;
}
.profile-imgonly .profile__info {
    z-index: 5;
    grid-row: 1 / 2;
    align-self: end;
    margin: 10px 20px;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.profile-imgonly .profile__info p {
    display: none;
}
.profile-imgonly .profile__cta a {
    border-radius: 0;
}

.profile-bigimg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px auto 0;
    border-radius: 10px;
    width: 650px;
    overflow: hidden;
    margin: auto;
}
.profile-bigimg .profile__image {
    grid-column: span 3;
}
.profile-bigimg .profile__info {
    grid-column: span 2;
    align-self: center;
    padding: 20px 10px 20px 25px;
}
.profile-bigimg .profile__info h3 {
    margin-bottom: 0;
}
.profile-bigimg .profile__info__extra {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .3s ease, opacity .3s ease .3s, margin .3s ease;
}
.profile-bigimg .profile__stats {
    display: none;
}
.profile-bigimg .profile__cta {
    padding: 20px 20px 20px 0;
    align-self: center;
}
.profile-bigimg:hover .profile__info__extra {
    display: block;
    max-height: 200px;
    margin: 10px 0 0;
    opacity: 1;
}

main {
    /*display: grid;*/
    /*grid-gap: 30px;*/
    /*grid-template-columns: repeat(6, auto);*/
    /*grid-template-rows: repeat(4, auto);*/
    /*width: 550px;*/
    /*justify-content: center;*/
}

section:nth-child(1) {
    grid-column: 1 / 3;
    justify-self: end;
    align-self: end;
}
section:nth-child(2) {
    grid-column: 3 / 5;
}
section:nth-child(3) {
    grid-column: 5 / 7;
    align-self: end;
}
section:nth-child(4) {
    grid-column: 1 / 7;
    justify-self: center;
}
section:nth-child(5) {
    grid-column: 1 / 4;
    justify-self: end;
}
section:nth-child(6) {
    grid-column: 4 / 7;
    align-self: center;
}
section:nth-child(7) {
    grid-column: 1 / 7;
}

#dark:checked ~ main a.button,
#pinkaru:checked ~ main a.button {
    color: var(--foregroundColor);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
#dark:checked ~ main .button:hover,
#pinkaru:checked ~ main .button:hover {
    background: var(--primaryShade2);
}
#dark:checked ~ main .button:active,
#pinkaru:checked ~ main .button:active {
    background: var(--primaryShade1);
}
#dark:checked ~ main .profile-default img,
#pinkaru:checked ~ main .profile-default img {
    border-bottom: 7px solid var(--secondaryShade5);
}
#dark:checked ~ main .profile-smallimg img,
#pinkaru:checked ~ main .profile-smallimg img {
    box-shadow: 0 0 0 7px var(--secondaryShade5);
}
#dark:checked ~ main .profile-wide img,
#pinkaru:checked ~ main .profile-wide img {
    box-shadow: 0 0 0 4px var(--secondaryShade5);
}


/* embed uned */
.embed_info {
    width: 100%;
    padding-top: 1em;
    margin: 1em;
    height: 100vh;
}
